#contentLeftdriveRequestList{
    width: 600px;
}

#contentRightdriveRequestList{
    width: 600px;
    height: 500px;
    margin-top: 140px;
}

#contentDriveRequestList{
    margin: auto;
}

#passengerRatingDriveRequestList{
    margin-top: -20px;
    font-size: 2em;
    --star-size: 25px;
    --star-color: #ff9f00;
}

#textAreaDriveRequestList{
    width: 450px;
    height: 222px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttonLayoutDriveRequestList{
    margin: auto;
    margin-top: -50px;
}

.buttonsDriveRequestList{
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

#buttonGoogleMapsDriveRequestList{
    width: 600px;

}

#anchorGoogleMapsDriveRequestList{
    padding-left: 0px;
}