#horizontalLayoutMenuBar{
    background-color: #e5e7e9;
    width: 100%;                    /* Chrome */
    width: -moz-available;          /* Für Mozzila */
    margin-top: -30px;
}

#logoFH{
    height: 120px;
    margin-right: 20%;
    margin-top: 45px;
    margin-bottom: -20px;
    cursor: pointer;
}

#menuBar{
    margin-top: 60px;
    margin-left: 8%;
    background-color: #e5e7e9;
}


#anchor_user_guide_light{
    text-decoration: none;
    color: #243243;
}

#anchor_user_guide_dark{
    color: #d8e2ee;
    text-decoration: none;
}


