#offer-drive-view-layout{
    margin: auto;
}

#offer-drive-view-button_layout{
    margin:auto;
}

#offer-drive-view-create_button{
    margin-right: 5%;
}

#offer-drive-view-cancel_button{
    margin-left: 5%;
}

.offer-drive-view-buttons{
    width: 200px;
    margin: auto;
    margin-top: 30px;
}



