.registration-data-form{
    width: 1000px;
    margin: auto;
    margin-top: 30px;
}

.profile-data-form{
    width: 1020px;
    margin: auto;
}

.profile-data-buttonlayout{
    margin-top: 50px;
}

.profile-data-buttons{
    margin: auto;
    width: 200px;
}

#profile-data-double_rating{
    margin-top: 18px;
    width: 200px !important;
}

#profileRatingLayout{
    width: 1020px;
    margin: auto;
    margin-top: 50px;
}

#rating-grid{
    width: 700px;
    height: 200px;
    margin-left: 20px;
    margin-top: 30px;
}

.rating-stars{
    width: 300px !important;
}

#profile-ratings{
    margin-left: 0;
}

.profilegrid{
    width: 1020px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top:30px;
}

#profile-drive_offers_layout{
    margin: auto;
    margin-top: 50px;

}

#profile-data-title{
    margin-left: 5px;
}

#profile-data-header{
    width: 1000px;
    margin: auto;
}

#registration-data-title{
    margin: auto;
    margin-top: 150px;
    width: 1000px;
}
