#titleProfile{
    font-size: xx-large;
    padding-left: -0;
}

#profileForm{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.buttonsRegistration{
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
}

#profileRatingLayout{
    margin: auto;
    width: 1000px;
}

#radioRatings{
    margin-bottom: -40px;
}

#averageProfileRatings{
    margin-left: 0;
    margin-top: 50px;
}

.profilegrid{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}



