#drive-request-dialog{

}

#drive-request-dialog-title{
    font-size: x-large;
}

#drive-request-dialog-address{
    width: 350px;
}

#drive-request-dialog-message{
    width: 350px;
    height: 150px;
}

#drive-request-dialog-request_button{
    width: 150px;
    margin-right: 20px;

}

#drive-request-dialog-cancel_button{
    width: 150px;
    margin-left: 20px;
}


.drive-request-dialog-button_layout{
    margin: auto;
    margin-top: 20px;
}