.own-drive-offers-edit-dialog-button_layout{
    margin-left: 165px;
    margin-top: 30px;
}

.own-drive-offers-edit-dialog-buttons{
    margin-left: 100px;
    width: 200px;
}


#own-drive-offers-edit-dialog-delete_button{
    background-color: red;
}


