#rating-dialog{
    width: 350px;
}

#ratings-title{
    margin-top: 0px;
    margin-bottom: 0px;
}

#rating-stars-punctuality{
    --star-size: 25px;
    --star-color: #F59F26;
}

#rating-stars-reliability{
    --star-size: 25px;
    --star-color: #F59F26;
}

.rating-buttons{
    width: 165px;
    margin-top: 35px;
}

#rating-button-layout{
    margin: auto;
}

#ratings-form{
    width: 300px;
}