#search-drive-result-view-title {
    margin-left: -1px;
}

#search-drive-result-view-driver_rating {
    margin-top: 20px;
    background-color: #F59F26;
}

#search-drive-result-view-profile_button {
    grid-area: c;
    margin-bottom: -200px;
    width: 150px;
}

.search-drive-result-view-title_layout {
    display: grid;
    grid-template-areas: "a c";
    grid-template-columns: 2fr 0.3fr;
}

.search-drive-result-view-driver_information_layout{
    grid-area: a;
}



.search-drive-result-view-dialog-buttons {
    margin-left: 100px;
    width: 200px;
}

.search-drive-result-view-dialog-button_layout {
    margin-left: 165px;
    margin-top: 30px;
}


